/*Variables*/
:root{
    /*Colors*/
    --offBlack: #242632;
    --darkGrey: #4b4e5d;
    --white: #fff;
    --green: #3ADE76;
    --red: #ff0000;
    --greyGradient: linear-gradient(-45deg, #494C5D, #6B7485);

    /*Fonts*/
    --primaryFont: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --secondaryFont: 'Pacifico', cursive;
}

/*Global Styles*/
html,body,div,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--primaryFont);
}

a{
    text-decoration: none;
}

/*Shared*/
.center-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    cursor: pointer;
    transform: scale(1.05);
    z-index: 999;
}

.logo{
    font-size: 2.5em;
    color: var(--green);
}

.logo-project{
    font-family: var(--secondaryFont);
    color: var(--darkGrey);
}

.green-word{
    color: var(--green);
}

.test-button{
    border: none;
    background-color: var(--offBlack);
    color: var(--green);
    padding: 3px 7px;
}

/*****************************************************************/
/*Operation Screen*/
.container-operation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--offBlack);
}

#choice-description{
    margin: 10px 0;
    color: var(--white);
}

#container-operations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.operation{
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    background-color: var(--darkGrey);
}

.operation i{
    font-size: 7vw;
    color: var(--green);
}

.operation-all{
    width: 22vw;
    height: 5vw;
    margin-top: 10px;
    background-color: var(--darkGrey);
    color: var(--green);
}

/*Operation Screen Breakpoints*/
/*Phone*/
@media screen and (max-width: 576px) {
    #container-operations{
        width: 90vw;
    }

    #choice-description{
        margin: 10px;
        text-align: center;
    }

    .operation{
        width: 40vw;
        height: 40vw;
    }

    .operation i{
        font-size: 25vw;
    }

    .operation-all{
        width: 82vw;
        height: 20vw;
    }
}

/*Tablet*/
@media screen and (min-width: 577px) and (max-width: 991px) {
    #container-operations{
        width: 50vw;
    }

    .operation{
        width: 20vw;
        height: 20vw;
    }

    .operation-all{
        width: 42vw;
        height: 10vw;
    }
}

/*Desktop*/
@media screen and (max-width: 992px) {

}

/*****************************************************************/
/*Difficulty Screen*/
.container-difficulty{
    height: 100vh;
    max-width: 100vw;
    display: flex;
}

#left-col{
    width: 25%;
    height: 100%;
    background-color: var(--offBlack);
    flex-direction: column;
}

#left-col #difficulty-logo{
    text-align: center;
}

#left-col #difficulty-description{
    margin-top: 10px;
    color: var(--white);
    font-size: 1.5em;
}

#right-col{
    width: 75%;
    height: 100%;
    flex-direction: column;
}

#right-col .difficulty-button{
    background-color: var(--offBlack);
    color: var(--green);
    font-size: 60px;
    padding: 30px 50px;
    margin: 10px 0;
    width: 35vw;
    text-align: center;
}

/*Difficulty Screen Breakpoints*/
/*Phone*/
@media screen and (max-width: 576px) {

}

/*Tablet*/
@media screen and (min-width: 577px) and (max-width: 991px) {

}

/*Desktop*/
@media screen and (max-width: 992px) {

}

/*****************************************************************/
/*Test Screen*/
.container-test-frame{
    height: 100vh;
    width: 100vw;
    background-color: var(--offBlack);
    flex-direction: column;
}

.container-test-frame h1{
    margin-bottom: 20px;
}

.container-test{
    height: 70vh;
    width: 80vw;
    background: var(--greyGradient);
    flex-direction: column;
}

.container-test #test-title{
    color: var(--white);
    font-weight: 100;
}

.container-test #test-numbers{
    flex-direction: row;
    margin: 50px 0;
}

.container-test #test-numbers h2{
    color: var(--green);
    font-size: 7em;
    margin: 0 15px;
}

.container-test #test-numbers .correct-answer{
    color: var(--green);
}

.container-test #test-numbers .incorrect-answer{
    color: var(--red);
}

/*Test Screen Breakpoints*/
/*Phone*/
@media screen and (max-width: 576px) {

}

/*Tablet*/
@media screen and (min-width: 577px) and (max-width: 991px) {

}

/*Desktop*/
@media screen and (max-width: 992px) {

}