/*Variables*/
:root{
    /*Colors*/
    --offBlack: #242632;
    --darkGrey: #4b4e5d;
    --white: #fff;
    --green: #3ADE76;
    --red: #ff0000;
    --greyGradient: linear-gradient(-45deg, #494C5D, #6B7485);

    /*Fonts*/
    --primaryFont: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --secondaryFont: 'Pacifico', cursive;
}

/*Global Styles*/
body, html, div, h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--primaryFont);
}

a{
    text-decoration: none;
}

/*Shared*/
.center-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    cursor: pointer;
    transform: scale(1.05);
    z-index: 999;
}

.logo{
    font-size: 2.5em;
    color: var(--green);
}

.logo-project{
    font-family: var(--secondaryFont);
    color: var(--darkGrey);
}



/*Home Screen*/
#container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--offBlack);
}

#choice-description{
    margin: 10px 0;
    color: var(--white);
}

#container-operations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.operation{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: var(--darkGrey);
}

.operation i{
    font-size: 60pt;
    color: var(--green);
}

.operation-all{
    width: 420px;
    height: 75px;
    margin-top: 10px;
    background-color: var(--darkGrey);
    color: var(--green);
}